In [26]:
import pandas as pd
import numpy as np
data={'state':['bagmati','Janaki','Lumbini','madhesh'],
      'Headquarter':['Hetauda','Jankpur','Butwal',"Birgunj"],
      'population':[15000,25000,35000,45000]}

In [17]:
frame=pd.DataFrame(data)

In [21]:
print(frame)

     state Headquarter  population
0  bagmati     Hetauda       15000
1   Janaki     Jankpur       25000
2  Lumbini      Butwal       35000
3  madhesh     Birgunj       45000

In [23]:
frame.head(2)

     state Headquarter  population
0  bagmati     Hetauda       15000
1   Janaki     Jankpur       25000

In [2]:
frame=pd.DataFrame(data,columns=['population', 'state','Headquarter'])
# frame=pd.DataFrame(data,columns=[],index=[])
frame.head()

   population    state Headquarter
0       15000  bagmati     Hetauda
1       25000   Janaki     Jankpur
2       35000  Lumbini      Butwal
3       45000  madhesh     Birgunj

In [95]:
# frame['state']=[1,2,3,4]
# frame

In [107]:
frame.loc[0:]
# frame.iloc[-1:]

   population    state Headquarter  check
0       15000  bagmati     Hetauda   True
1       25000   Janaki     Jankpur  False
2       35000  Lumbini      Butwal  False
3       45000  madhesh     Birgunj  False

In [108]:
# To delete column
del frame['state']

In [111]:
frame.columns

Index(['population', 'Headquarter', 'check'], dtype='object')

In [127]:
#nested dict of dict
census={'population':{'Male':250000,'female':275000},
        'households':{'concrete':55000,'temporary':45000,'Others':25000,'Male':25000,'female':35000}}
frame=pd.DataFrame(census)
frame.head()

           population  households
Male         250000.0       25000
female       275000.0       35000
concrete          NaN       55000
temporary         NaN       45000
Others            NaN       25000

In [128]:
#Transpose dataframe
frame.T

                Male    female  concrete  temporary   Others
population  250000.0  275000.0       NaN        NaN      NaN
households   25000.0   35000.0   55000.0    45000.0  25000.0

In [142]:
#formin new index in result using inner dict 
a=pd.DataFrame(census,index=['Male','female'])
a.head()

        population  households
Male        250000       25000
female      275000       35000

## Reindexing
<p>To create a new object with the data conformed to a new index.
</p>
Calling reindex on this Series rearranges the data according to the new index, intro‚Äê
ducing missing values if any index values were not already present:

In [13]:
c=pd.Series(['a','b','c','d'],index=[1,2,3,4])
print(c)
d=c.reindex([3,2,4,"ktm"])
print(d)

1    a
2    b
3    c
4    d
dtype: object
3        c
2        b
4        d
ktm    NaN
dtype: object

In [67]:
#filling of values when reindexing using forward-fills and backward-fill the valuestolorence
e=c.reindex([1,2,3,4,5,6,7,8],  method='ffill',copy=True,  fill_value='Helo') #method='bfill #copy, #level, #fill_value, #tolerance=1 #limit=1
print(e)

1       a
2       b
3       c
4       d
5    Helo
6    Helo
7    Helo
8    Helo
dtype: object

In [28]:
# With DataFrame, reindex can alter either the (row) index, columns, or both. 
# When passed only a sequence, it reindexes the rows in the result:

reindex=pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','b','c'],columns=['A','B','C'])
print(reindex)

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [32]:
reindex.index

Index(['a', 'b', 'c'], dtype='object')

In [33]:
reindex.columns

Index(['A', 'B', 'C'], dtype='object')

In [39]:
import pandas as pd
# print(dir(pd))